html {
  background-color: #f2f1ea;
  font-family: Arial, sans-serif;
  font-weight: bolder; }

h1 {
  background-image: url(/images/header-bg.png);
  color: white;
  line-height: 45px;
  text-align: center;
  height: 45px;
  font-family: Lobster, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px -1px black;
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: #403831; }

a.back {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0.5em;
  padding-left: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #f2f1ea;
  background-image: url(/images/back-right.png), url(/images/back-left.png);
  background-repeat: no-repeat;
  background-position: 100% 50%, 0 50%; }

input {
  font-size: large;
  border-color: #dedcc9;
  height: 1.6em;
  padding: 0.2em;
  color: #403831; }

select {
  margin-left: 1em; }

select:first-child {
  margin-left: 0; }

a.submit {
  text-shadow: 1px -1px black;
  color: white;
  border-width: 0;
  -webkit-border-radius: 5px;
  margin: 0 1em 0 1em;
  padding: 0.5em 0 0.5em 0;
  width: 275px;
  display: block;
  text-align: center;
  padding: 0.5em;
  -webkit-user-select: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #403831), color-stop(0.8, #261f1b)); }

ul.rounded {
  margin: 1em;
  list-style: none;
  border-color: #dedcc9;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
  background-color: white; }
  ul.rounded li {
    padding: 1em;
    border-bottom-color: #dedcc9;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
    ul.rounded li span.label {
      position: relative;
      top: -4px;
      margin-left: 0.5em; }
    ul.rounded li a {
      margin: -1em;
      padding: 1em;
      display: block; }
    ul.rounded li a.active {
      background-color: rgba(222, 220, 201, 0.5);
      color: #a69f97; }
  ul.rounded li.arrow {
    background-image: url(/images/chevron.png);
    background-repeat: no-repeat;
    background-position: 97% 50%; }
  ul.rounded li:last-child {
    border-bottom-width: 0; }
  ul.rounded li.warning {
    background-image: url(/images/chevron.png), url(/images/warning.png);
    background-position: 97% 50%, 90% 50%; }

div.panel {
  text-align: right;
  margin: 1em;
  margin-right: 1.5em;
  color: #dedcc9;
  font-weight: bolder; }
  div.panel .value {
    font-size: x-large;
    color: #a69f97; }
  div.panel .month {
    font-size: smaller; }
  div.panel img {
    float: left; }

a.result {
  top: 50px;
  width: 260px;
  background-image: none;
  display: none;
  margin: 1em;
  text-align: center;
  padding: 0.5em;
  padding-top: 8em;
  font-weight: bolder;
  border-width: 1px;
  border-style: solid;
  border-color: #9ac81d;
  background-color: #eeffbb;
  color: #9ac81d;
  -webkit-border-radius: 5px;
  height: 14em; }
