- @utilities.each do |utility|
  = render "form", :utility => utility
-# Home screen
%div#home.current
  %div.toolbar
    %h1 Blathy
  %ul.rounded
    - @utilities.each do |utility|
      %li.arrow
        %a{ :href => "##{utility.name.parameterize}" }
          = image_tag(utility.icon, :height => 19, :width => 14, :alt => "") if utility.icon
          %span.label= utility.name
