%h1 Bláthy

-# Water screen
= render "form", :utility => "water"

-# Gas screen
= render "form", :utility => "gas"

-# Electricity screen
%div#electricity
  %div.toolbar
    %h1 Electricity
    %a.back{:href => '#'} Home
  %ul.rounded
    %li.arrow
      %a{:href => '#grid'}
        %img{:src => '/images/grid.png', :alt => ''}
        Grid
    %li.arrow
      %a{:href => '#solar'}
        %img{:src => '/images/solar.png', :alt => ''}
        Solar

-# Home screen
%div#home.current
  %div.toolbar
    %h1 Bláthy
  %ul.rounded
    %li.arrow
      %a{:href => '#water'}
        %img{:src => '/images/water.png', :alt => ''}
        Water
    %li.arrow
      %a{:href => '#gas'}
        %img{:src => '/images/gas.png', :alt => ''}
        Gas
    %li.arrow
      %a{:href => '#electricity'}
        %img{:src => '/images/electricity.png', :alt => ''}
        Electricity